body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}
header {
  height: 10vh;
  background-color: aquamarine;
  padding: 3vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
main {
  text-align: center;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  box-sizing: border-box;
}
.turn {
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 30vw;
  height: 30vw;
  gap: 1px;
  margin-bottom: 3vh;
}
.cell {
  border: none;
  border-radius: 5px;
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.score-board {
  margin-bottom: 3vh;
}
.reset-button {
  margin-bottom: 3vh;
}
footer {
  box-sizing: border-box;
  height: 5vh;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}
